<div class="footer">
    <div class="div1">
        <h1>Support</h1>
        <h3>Help</h3>
        <h3>Advisories</h3>
        <h3>Status</h3>
        <h3>Contact Us</h3>
    </div>
    <div class="div1">
        <h1>Company</h1>
        <h3>About</h3>
        <h3>Blog</h3>
        <h3>Press</h3>
    </div>
    <div class="div1">
        <h1>Terms and Policies</h1>
        <h3>Policies</h3>
        <h3>Terms of Use</h3>
        <h3>Code of Conduct</h3>
        <h3>Privacy</h3>
    </div>
</div>