    <!-- navbar code -->
    <div class="navbar">
        <div class="leftnav">
            <div class="title">
                <a href="http://localhost:8000/" style="color: white">QUOTES APP</a>
            </div>
        </div>
        <div class="rightnav">
            <div class="rnav">
                <a href="http://localhost:8000/">HOME</a>
            </div>
            <div class="rnav">
                <a href="http://localhost:8000/collection">COLLECTIONS</a>
            </div>
            <div class="rnav">
                <a href="http://localhost:8000/about">ABOUT US</a>
            </div>
            <div class="rnav">
                <a href="#">
                    <i class="fa-solid fa-user-plus"></i>
                    {{signIN}}
                </a>
            </div>
        </div>
    </div>