<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes App</title>
    {{!-- styles.css required for navbar and footer --}}
    <link rel="stylesheet" href="styles.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Open+Sans:wght@600&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/quotes.jpg">
    <link rel="stylesheet" href="about.css">

</head>

<body>
    {{>navbar}}
    <h3>This is About Page</h3>
    {{>footer}}

    <script src="main.js"></script>
    <script src="https://kit.fontawesome.com/054274b4b6.js" crossorigin="anonymous"></script>
</body>